$backGround: #0b0c10;
$lightGrey: #c5c6c7;
$prymery: #66fcf1;
$darkGrey: #1f2833;
$secondery: #45a29e;
$primaryGragientColor: linear-gradient(
    152.14deg,
    #66fcf1,
    rgba(156, 55, 253, 0.7) 100%
);
$base: #ffffff;
//colors for type pokemons
$fire: #cc0000;
$grass: #008000;
$water: #067093;
$bug: #1f2833;
$normal: #bc8f8f;
$poison: #2f4f4f;
$electric: #d2691e;
$ground: #8b4513;
$fairy: #800080;
